<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Check Status</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<H1>Check Status</H1>
	<div th:switch="${isTesting}">
		<p th:case="true">Still Testing</p>
		<p th:case="false">Done Testing</p>
		<p th:case="*">Ok, something went wrong...</p>
	</div>
	<table border="20" th:unless="${isTesting}">
		<tr>
			<th>Name</th>
		</tr>
		<tr th:each="person: ${people}">
			<td th:text="${person}"/>
		</tr>
	</table>
	<hr/>
	<p>
	<b>isTesting:</b> <i><span th:text="${isTesting}"></span></i><br/>
	<b>people:</b> <i><span th:text="${people}">...</span><br/></i><br/>
	</p>
	<p>
	<a href="/checkStatus">Refresh</a><br/>
    <a href="/">Go Back</a>
    </p>
</body>
</html>